<!-- <p-card>
    <p-table [columns]="cols" [value]="products"  styleClass="p-datatable-gridlines" >
 
        <ng-template pTemplate="header"  let-columns>
            <tr>
                <th rowspan="3">Tiempo</th>
                <th colspan="4">Sale Rate</th>
            </tr>
            <tr>
                <th colspan="2">Sales</th>
                <th colspan="2">Profits</th>
            </tr>
            <tr>
                <th>Last Year</th>
                <th>This Year</th>
                <th>Last Year</th>
                <th>This Year</th>
            </tr>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
      </p-table>
</p-card> -->

<p-table [value]="cars" styleClass="p-datatable-gridlines">
    <ng-template pTemplate="header">
      <tr>
        <th rowspan="2">Marca</th>
        <th rowspan="2">Matrícula</th>
        <th colspan="3">Modelos</th>
      </tr>
      <tr>
        <th>Modelo 1</th>
        <th>Modelo 2</th>
        <th>Modelo 3</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car>
      <tr>
        <td>{{car.marca}}</td>
        <td>{{car.matricula}}</td>
        <td>{{car.modelo1}}</td>
        <td>{{car.modelo2}}</td>
        <td>{{car.modelo3}}</td>
      </tr>
    </ng-template>
  </p-table>
