<p-table [value]="cars" styleClass="p-datatable-gridlines">
    <ng-template pTemplate="header">
      <tr>
        <th rowspan="2">Marca</th>
        <th rowspan="2">Matrícula</th>
        <th colspan="3">Modelos</th>
      </tr>
      <tr>
        <th>Modelo 1</th>
        <th>Modelo 2</th>
        <th>Modelo 3</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car>
      <tr>
        <td>{{car.marca}}</td>
        <td>{{car.matricula}}</td>
        <td>{{car.modelo1}}</td>
        <td>{{car.modelo2}}</td>
        <td>{{car.modelo3}}</td>
      </tr>
    </ng-template>
  </p-table>
